.chart {
	margin: 1.125rem;
	padding: 1.125rem;
	border-radius: 10px;
	box-shadow: 9px 9px 10px -1px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 9px 9px 10px -1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 9px 9px 10px -1px rgba(0, 0, 0, 0.12);

	.chart-title {
		margin-bottom: 1rem;
	}
}
