.widgetLg {
	flex: 2;
	padding: 1.125rem;
	border-radius: 10px;
	box-shadow: 9px 9px 10px -1px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 9px 9px 10px -1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 9px 9px 10px -1px rgba(0, 0, 0, 0.12);

	.widgetLg-title {
		font-size: 1.25rem;
		font-weight: 600;
	}

	.widgetLg-table {
		width: 100%;
		border-spacing: 1.125rem;
		.widgetLg-tr {
			.widgetLg-th {
				text-align: left;
			}

			.widgetLg-date,
			.widgetLg-amount {
				font-weight: 300;
			}

			.widgetLg-user {
				display: flex;
				align-items: center;
				font-weight: 600;

				.widgetLg-photo {
					height: 40px;
					width: 40px;
					border-radius: 50%;
					object-fit: cover;
					margin-right: 0.825rem;
				}
			}

			.widgetLg-status {
				.widgetLg-button {
					padding: 5px 7px;
					border: none;
					align-items: center;
					border-radius: 10px;
					background-color: #eeeef7;
					color: #555;
					cursor: pointer;
				}

				.Approve {
					background-color: #e5faf2;
					color: #31a578;
				}

				.Declined {
					background-color: #f7d8db;
					color: #da4350;
				}

				.Pendding {
					background-color: #ebf1fe;
					color: #6487d3;
				}
			}
		}
	}
}
