.productList {
	padding: 0 1rem;

	&-title {
		margin-bottom: 1rem;
	}

	&-img {
		display: flex;
		align-items: center;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 10px;
			object-fit: cover;
		}
	}

	&-action {
		display: flex;
		align-items: center;

		.btn-edit {
			margin-right: 10px;
			border: none;
			background-color: #3bb037;
			border-radius: 10px;
			padding: 5px 10px;
			cursor: pointer;
			color: white;
		}

		.btn-delete {
			cursor: pointer;
			font-weight: 600;
			color: red;
		}
	}
}
