.product {
	padding: 1rem;

	.product-title-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1.25rem;

		.product-btn-add {
			width: 5rem;
			border: none;
			border-radius: 10px;
			padding: 7px 10px;
			background-color: teal;
			cursor: pointer;
			color: white;
			font-size: 1rem;
			font-weight: 600;
		}
	}

	&-top {
		display: flex;

		&-left {
			flex: 1;

			.chart {
				box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
				-webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
				-moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
			}
		}

		&-right {
			flex: 1;
			margin: 1.25rem;
			padding: 1.25rem;
			border-radius: 10px;
			box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
			-webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
			-moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);

			.product-detail-top {
				display: flex;
				align-items: center;

				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					object-fit: cover;
					margin-right: 1.25rem;
				}

				.product-detail-title {
					font-weight: 600;
				}
			}

			.product-detail-bottom {
				margin-top: 0.875rem;

				.product-detail-item {
					width: 150px;
					display: flex;
					justify-content: space-between;

					.product-detail-value {
						font-weight: 300;
					}
				}
			}
		}
	}

	&-bottom {
		margin: 1.25rem;
		padding: 1.25rem;
		border-radius: 10px;
		box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
		-webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);

		&-form {
			display: flex;
			justify-content: space-between;

			&-left {
				display: flex;
				flex-direction: column;

				& > label {
					margin-bottom: 0.625rem;
					color: gray;
				}

				& > input {
					margin-bottom: 0.625rem;
					border: none;
					border-bottom: 1px solid #555;
					padding: 5px 0;
				}

				& > select {
					margin-bottom: 0.625rem;
				}
			}

			&-right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.product-upload {
					display: flex;
					align-items: center;

					&-img {
						width: 100px;
						height: 100px;
						border-radius: 10px;
						object-fit: cover;
						margin-right: 1.25rem;
					}
				}

				.product-btn {
					border: none;
					padding: 5px 10px;
					color: white;
					font-weight: 600;
					background-color: darkblue;
					border-radius: 10px;
				}
			}
		}
	}
}
